.settingsWrapper {
    background-image: url(https://images.pexels.com/photos/1287145/pexels-photo-1287145.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    grid-column: 2/4;
    background-size: 100%;
}

.settingsTitle {
    font-weight: bold;
    padding: 5px;
}