.MessageMainWrapper {
    background-image: url(https://images.pexels.com/photos/1287145/pexels-photo-1287145.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    grid-column: 2/4;
    background-size: 100%;
    display: flex;
}

/*____________________________Users___________________________________________*/
.message_Title, .usersMessageTitle {
    font-weight: bold;
    margin: 5px;
}

.dialogsUsersWrapper, .messageWrapper {
    margin: 10px;
}

.usersWrapper, .usersMessageWrapper {

}

.user, .message {
    margin: 5px;
}

/*__________________________________Messages___________________________________*/
