.postsWrapper {
    padding: 5px;
    border: 1px solid #c4c2c2;
    width: 400px;
    background: rgba(243, 195, 189, 0.6);
    margin: 7px;
}

.imgInPost {
    width: 60px;
    border-radius: 30px;
    float: left;
    margin-right: 7px;
}