.friendWrapper {
    border: 2px solid white;
    margin: 5px;
    height: 80px;
    display: flex;
}

.ava {
    width: 50px;
    border: 1px solid #0b3788;
    margin: 5px;
}

.friendName {
    color: #30569b;
   padding: 24px 5px 10px 5px;
}