.navBarWrapper{
    background-color: lightpink;
    padding: 10px;
    width: 150px;
    height: 300px;
    font-size: large;
    color: white;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: fixed;
}
.navBarWrapper a{
    color: white;
    text-decoration: none;
}
.navBarWrapper a.activeLink{
    color: #0b3788;
}